<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <h1>Welcome to The Game of War</h1>
        <h3>Accumulate the most soldiers to win!</h3>

        <form action="/start_game" method="POST">
            {% csrf_token %}
            <input type="text" name="username">
            <select name="fav_color">
                <option value="black">Black</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="orange">Orange</option>
                <option value="purple">Purple</option>
            </select>
            <input type="submit" value="Start Game">
        </form>
    </div>
</body>

</html>