<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log and Reg</title>
    <style>
        .form {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>

<body>

        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}


    <div class='form'>
        <h3>Register:</h3>
        <form action="/register" method=POST>
            {% csrf_token %}
            <p>First Name</p>
            <input type="text" name="first_name">
            <p>Last Name</p>
            <input type="text" name="last_name">
            <p>Email</p>
            <input type="text" name="email">
            <p>Password</p>
            <input type="text" name="password">
            <p>Confirm Password</p>
            <input type="text" name="confirm_password">
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="form">
        <h3>Login:</h3>
        <form action="/login" method=POST>
            {% csrf_token %}
            <p>Email</p>
            <input type="text" name="email">
            <p>Password</p>
            <input type="text" name="password">
            <input type="submit" value="Login">
        </form>
    </div>

</body>

</html>