<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        #wrapper{
            margin: 0px auto;
            width: 1200px;
        }
        .form{
            display: inline-block;
            vertical-align: top;
        }

    </style>
</head>
<body>
    <div id="wrapper">
        <div class="form">
            <h2>Register</h2>
            <form action="/register" method=POST>
                {% csrf_token %}
                <p>First Name</p>
                <input type="text" name="first_name">
                <p>Last Name</p>
                <input type="text" name="last_name">
                <p>Email</p>
                <input type="text" name="email">
                <p>Password</p>
                <input type="text" name="password">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="form">
            <h2>Login</h2>
            <form action="/login" method=POST>
                {% csrf_token %}
                <p>Email</p>
                <input type="text" name="email">
                <p>Password</p>
                <input type="text" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

    
</body>
</html>