<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDDB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
</head>

<body>
    <div id="wrapper">
        <h1>Welcome to the Movie Forum, have fun exploring our movies!</h1>

        <a href="/movies">
            <h3>Movies</h3>
        </a>
        <a href="/directors">
            <h3>Directors</h3>
        </a>
        <h3>Adding Actors</h3>
        <form action="/add_actor" method=POST>
            {% csrf_token %}
            <input type="text" name="name">
            <input type="submit" value="Add Actor">
        </form>

    </div>

</body>

</html>