#wrapper{
    margin: 0px auto;
    width: 900px;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    padding: 50px;
    margin-bottom: 25px;
}

img{
    width: 25px;
    display: inline-block;
}

.actions{
    margin: 50px;
}

a{
    padding: 25px;
    color: black;
}

.army{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
